{
  "presets": [
    "flow",
    "react",
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    ["module-resolver", { "root": ["./src"] } ]
  ],
  "env": {
    "production": {
      "plugins": [
        "external-helpers"
      ]
    },
    "development": {
       "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "presets": ["env", "react"],
    }
  }
}
